.image-container {
    margin-left: 45%;
    width: 10%;
    height: auto;
    text-align: center
}

p {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
    height: auto;
}
.center {
    text-align: center
}

.name {
    font-size: 10vh;
    color: #00aee0;
    margin: 0;
    -webkit-text-stroke: 0.4vh black;
    text-stroke: 0.4vh black;
}

.hasDonated {
    font-size: 10vh;
    color: #0072ff;
    margin: 0;
    -webkit-text-stroke: 0.4vh black;
    text-stroke: 0.4vh black;
    text-align: center
}

.message {
    font-size: 8vh;
    color: #0072ff;
    margin: 0;
    -webkit-text-stroke: 0.3vh black;
    text-stroke: 0.3vh black;
    text-align: center
}